In [0]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_wine
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import MeanShift, AgglomerativeClustering
from itertools import cycle, islice
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans

In [8]:
data = load_wine()
df = pd.DataFrame(data.data, columns=data.feature_names)
df.shape

(178, 13)

In [9]:
df.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [11]:
ss_list = []
for k in range(2, 20):
    kmeans_result = KMeans(n_clusters=k, random_state=1).fit_predict(df)
    ss_list.append([k,silhouette_score(df,kmeans_result)])
ss_list

[[2, 0.6568536504294319],
 [3, 0.5711381937868844],
 [4, 0.5620323449580352],
 [5, 0.5489993239795691],
 [6, 0.5656413100386389],
 [7, 0.5621677013863717],
 [8, 0.5406824747857625],
 [9, 0.5307235924738358],
 [10, 0.5197227843945601],
 [11, 0.5163722038796237],
 [12, 0.5148763683258877],
 [13, 0.5133831329844558],
 [14, 0.4879634872670338],
 [15, 0.48055714246979625],
 [16, 0.465105805708488],
 [17, 0.4509551346903741],
 [18, 0.4789837295073368],
 [19, 0.45686971499611423]]

Выберем кол-во кластеров 2

In [0]:
#MeanShift и Иерархическая кластеризация
MeanShift_2 = MeanShift()
MeanShift_2_result = MeanShift_2.fit_predict(df)

In [0]:
AgglomerativeClustering_2 = AgglomerativeClustering(n_clusters=2)
AgglomerativeClustering_2_result = AgglomerativeClustering_2.fit_predict(df)

In [16]:
#Сравнение моделей
silhouette_score(df,MeanShift_2_result)

0.5024921259394891

In [18]:
silhouette_score(df,AgglomerativeClustering_2_result)

0.6587292996216916

**Иерархическая кластеризацияосуществляет более качественную кластеризацию данных**